<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/tagalog_logo_square"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tagalog_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Tagalog">
        <activity
            android:name=".ui.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="flash-learn-6fbc4.firebaseapp.com"
                    android:pathPrefix="/__/auth/links"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <!--
        real
        android:value="ca-app-pub-7133464705699933~1975727734"

        test
        android:value="ca-app-pub-3940256099942544~3347511713"
        -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7133464705699933~1975727734"/>

        <activity
            android:name=".ui.LearningActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false"
            android:label="LearningActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Tagalog"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>